src/main/mule/jenkins-take3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0c76d3b2-ed6c-4721-9da5-a70b3167319f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkins-take3Flow" doc:id="88f17efd-ebdc-4865-bd6f-ec6fbd896032" >
		<http:listener doc:name="Listener" doc:id="df3db99e-0ca0-4abf-89d1-ee51d61aa35b" config-ref="HTTP_Listener_config" path="cicd"/>
		<ee:transform doc:name="Transform Message" doc:id="61da4957-a8af-444d-8c8a-420821ddb367" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message:"jenkins take3"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8a6cf165-c8ee-4de0-9a49-1f061f0fc405" message="#[payload]"/>
	</flow>
</mule>
